body {
  margin: 0;
  background-color: #0f1c2e;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  margin-left: 240px;
  padding: 24px;
  min-height: 100vh;
  color: #fff;
  background-color: transparent;
}
